{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="py-3 container bg-body-tertiary">
        <h1 class="mb-2">Login</h1>
        <p class="lead">Provide the following information.</p>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", size=32) }}
                {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", size=32) }}
                {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>

</div>
{% endblock %}
